<html lang="en">
<head>
<title>Broken Records - Official Site</title>
<meta name="description" content="Official site of the Edinburgh-based band Broken Records. Third album 'Weights & Pulleys' Out Now!"/>
<meta property="og:image" content="http://www.brokenrecordsband.com/static/img/releases-med1.png" />
<link rel="canonical" href="http://www.brokenrecordsband.com/" />
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<!--
    Formatted for readability
  -->
  <meta
    name="viewport"
    content="
      width=device-width,
      initial-scale=1,
      minimum-scale=1,
      maximum-scale=1
    "
  />

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='unsemantic-grid-responsive.css') }}">
<script type="text/javascript" src="{{ url_for('static', filename='scripts/jquery.leanModal.min.js') }}"></script>
<!-- Snowplow starts plowing -->
<script type="text/javascript">
;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
};p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","//d1fc8wv8zag5ca.cloudfront.net/2.7.2/sp.js","snowplow"));

window.snowplow('newTracker', 'cf', 'd9zj8u9gf1xf9.cloudfront.net', { // Initialise a tracker
	appId: '0001',
	cookieDomain: 'brokenrecordsband.com'
});

window.snowplow('setUserIdFromLocation','userid');
window.snowplow('trackPageView');

</script>
<!-- Snowplow stops plowing -->
    {% block extra_head %}
    {% endblock extra_head %}
</head>
	<header>
	
	<script>
	$(document).ready(function(){
		$("#nav-mobile").html($("#nav-main").html());
		$("#nav-trigger span").click(function(){
			if ($("nav#nav-mobile ul").hasClass("expanded")) {
				$("nav#nav-mobile ul.expanded").removeClass("expanded").slideUp(250);
				$(this).removeClass("open");
			} else {
				$("nav#nav-mobile ul").addClass("expanded").slideDown(250);
				$(this).addClass("open");
			}
		});
	});
	</script>

		<div class="header-container grid-container">
			<div  class="grid-50">
				<img id="logo" width="90%" src="{{ url_for('static', filename='img/br_logo_grey.png') }}"/>
			</div>
					<div id="navigation" class="grid-50">
						<div id="social-icons" class="hide-on-mobile">
							<ul>
								<li><a href="https://twitter.com/broken_records"><img src="static/img/webicon-twitter-g.png"/></a></li>
								<li><a href="https://www.facebook.com/brokenrecords"><img src="static/img/webicon-facebook-g.png"/></a></li>
								<li><a href="http://instagram.com/brokenrecordsband"><img src="static/img/webicon-instagram-g.png"/></a></li>
						</div>
						<nav id="nav-main">
							<ul>
								<li><a href="#news">News</a></li>
								<li><a href="#store">Store</a></li>
								<li><a href="#tour">Tour</a></li>
								<!--<li><a href="">Contact</a></li>-->
							</ul>
						</nav>
					<div id="nav-trigger">
						<span>Menu</span>
					</div>
					<nav id="nav-mobile"></nav>
					</div>

		<!--dividing line -->
		<div class="grid-100"><hr></div>
	

		</div>
		
	</header>
    <body>
	<!--ga code-->
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-6115082-1', 'brokenrecordsband.com');
	  ga('require', 'displayfeatures');
	  ga('send', 'pageview');

	</script>
	
	
<div class="container">
    {% if messages %}
        <div class="alert alert-danger">
            <strong>Error:</strong>
            <ul>
                {% for message in messages %}
                    <li>{{message}}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
		<div class="grid-container">

    {% block content %}
    {% endblock %}
    {% block extra_body %}
    {% endblock extra_body %}
</div>
</body>
</html>
