<html>
<head>
<title>Broken Records - Official Site</title>
<meta name="description" content="Official site of the Edinburgh-based band Broken Records. Third album 'Weights & Pulleys' Out Now!"/>
<link rel="canonical" href="http://brokenrecordsband.com/" />
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--
    Formatted for readability
  -->
  <meta
    name="viewport"
    content="
      width=device-width,
      initial-scale=1,
      minimum-scale=1,
      maximum-scale=1
    "
  />

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='unsemantic-grid-responsive.css') }}">
</head>
	<header>
	<div class="grid-container">
		<div class="header-container grid-parent">
			<div class="header-image">
			<img width="100%" src="{{ url_for('static', filename='img/br_logo_grey.png') }}"/>
			</div>
		</div>
	<div>
	</header>
    <body>
		<div class="container">
			<div class="grid-container">
				<div class="grid-40">
					<h1>Purchase Download Page</h1>
					<p>Please enter your download code below to access your files:</p>
					<form id="download-button" action="download/confirm" method="GET">
					<input type="text" name="dcode">
					<button type="submit" class="stripe-button-el" style="visibility: visible;"><span>Download Now</span></button>
					</form>
					
					
				</div>
			</div>
		</div>
    </body>
</html>